<html>
<head>
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
	</head>
	<body>
		<div class="container">
		<center>
			<h1 style="color: darkblue"> <b>Secure File Transfer</b> </h1><br><br>
			<form action = "/download_data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" required/>
				<br><br><input type = "Submit"/>
			</form>
		</center>
	</div>
	</body>
</html>