<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title></title>
	</head>
	<body>
		<center>
			<h1> ProGuard </h1><br><br>
			<table>
				<tr>
					<td><a href='home'><button class="btn" style="margin-right: 10px;">home</button></a></td>
					<td><a href='upload-file'><button class="btn" style="margin-right: 10px;">upload-file</button></a></td>
				</tr>
			</table>
			<ul>
			<li><i>User can go to the Home page.</i></li><br>
			<li><i>User can upload another file.</i></li><br>
		</ul>
			<br><br>
		</center>
	</body>
</html>